.header {
    background: $off-black;
    margin-bottom: $l-size;
    padding: $s-size 0;
    color: white;
}

.header__title {
    font-size: $m-size;
    margin: 0;
}

.header__subtitle {
    color: $off-white;
    font-size: $s-size;
    font-weight: 500;
    margin: 0;
}